body {
    font-family: "Kanit", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    touch-action: manipulation;
}

.container {
    width: 100%;
    max-width: 800px;
    margin : 30px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #333;
}

label {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

input, select, textarea {
    font-family: "Kanit", sans-serif !important;;
    width: 100% !important;
    background: #ffffff;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 20px;
    box-sizing: border-box;

    -webkit-appearance: none;
    appearance: none;
}