body {
    font-family: "Kanit", sans-serif;
    background: #f5f5f5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    touch-action: manipulation;
}

.container {
    width: 100%;
    margin : 15px;
    background: #ffffff;
    width: 100%;
    padding: 20px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    font-size: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

input, select, textarea {
    font-family: "Kanit", sans-serif !important;
    width: 100% !important;
    background: #ffffff;
    padding: 10px 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;

    min-height: 48px; 
}

.date-input:before {
    content: attr(data-placeholder);
    color: #777;
    position: absolute;
    pointer-events: none;
}

.date-input:focus:before,
.date-input.filled:before {
    display: none;
}

select {
    background-color: white;
    background-position: right 12px center;
    background-repeat: no-repeat;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    font-family: "Kanit", sans-serif !important;;
    width: 100%;
    background: #4CAF50;
    border: none;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.25s;
}

button:hover {
    background: #43a047;
    transform: translateY(-2px);
}