body {
    font-family: "Kanit", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    touch-action: manipulation;
}

.container {
    width: 100%;
    max-width: 800px;
    margin : 30px;
    background: #ffffff;
    width: 100%;
    padding: 15px 15px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
